<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스를 이용하여 SqlSession에서 Mapper를 사용하지 않고 바로 호출 사용가능.  -->
<mapper namespace="com.nhn.gameanvil.sample.mybatis.mappers.UserDataMapper">
  <insert id="insertUser" parameterType="com.nhn.gameanvil.sample.mybatis.dto.UserDto">
        INSERT INTO users
        (uuid, login_type, app_version, app_store, device_model, device_country, device_language, nickname, heart, coin, ruby, level, exp, high_score, current_deck, create_date, update_date)
        VALUES (#{uuid}, #{loginType}, #{appVersion}, #{appStore}, #{deviceModel}, #{deviceCountry}, #{deviceLanguage}, #{nickname}, #{heart}, #{coin}, #{ruby}, #{level}, #{exp}, #{highScore}, #{currentDeck}, NOW(),NOW())
    </insert>

  <insert id="insertUserSP" statementType="CALLABLE" parameterType="com.nhn.gameanvil.sample.mybatis.dto.UserDto">
    {
      CALL sp_Users_Insert (
          #{uuid, jdbcType=VARCHAR},
          #{loginType},
          #{appVersion, jdbcType=VARCHAR},
          #{appStore, jdbcType=VARCHAR},
          #{deviceModel, jdbcType=VARCHAR},
          #{deviceCountry, jdbcType=VARCHAR},
          #{deviceLanguage, jdbcType=VARCHAR},
          #{nickname, jdbcType=VARCHAR},
          #{heart},
          #{coin},
          #{ruby},
          #{level},
          #{exp},
          #{highScore},
          #{currentDeck, jdbcType=VARCHAR})
      }
  </insert>

  <select id="selectUserByUuidSP" statementType="CALLABLE" resultType="com.nhn.gameanvil.sample.mybatis.dto.UserDto">
    {
        CALL sp_Users_Select_Uuid(
            #{uuid, jdbcType=VARCHAR})
    }

    </select>

  <select id="selectUserByUuid" resultType="com.nhn.gameanvil.sample.mybatis.dto.UserDto">
        SELECT
          uuid,
          login_type AS loginType,
          app_version AS appVersion,
          app_store AS appStore,
          device_model AS deviceModel,
          device_country AS deviceCountry,
          device_language AS deviceLanguage,
          nickname,
          heart,
          coin,
          ruby,
          level,
          exp,
          high_score AS highScore,
          current_deck AS currentDeck,
          create_date AS createDate,
          update_date AS updateDate
        FROM users
        WHERE uuid = #{uuid}
    </select>


  <update id="updateUserCurrentDeck">
        UPDATE users SET current_deck = #{currentDeck} WHERE uuid = #{uuid}
    </update>

  <update id="updateUserCurrentDeckSP" statementType="CALLABLE">
{
    CALL sp_Users_Update_CurrentDeck(
        #{uuid, jdbcType=VARCHAR},
        #{currentDeck, jdbcType=VARCHAR})
}
    </update>

  <update id="updateUserNickname">
        UPDATE users SET nickname = #{nickname} WHERE uuid = #{uuid}
    </update>

  <update id="updateUserNicknameSP" statementType="CALLABLE">
{
    CALL sp_Users_Update_Nickname(
        #{uuid, jdbcType=VARCHAR},
        #{nickname, jdbcType=VARCHAR})
}
    </update>

  <update id="updateUserHighScore">
        UPDATE users SET high_score = #{highScore} WHERE uuid = #{uuid}
    </update>

  <update id="updateUserHighScoreSP" statementType="CALLABLE">
{
    CALL sp_Users_Update_Nickname(
        #{uuid, jdbcType=VARCHAR},
        #{highScore})
}
    </update>
</mapper>